body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.choice {
  display: block;
  background: #333;
  margin: 8px auto;
  width: 200px;
}