body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.choice {
  display: block;
  margin: 10px auto;
  width: 200px;
}
